@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero{
 background-image: url('../../public/pizzaHero.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 margin: 0;
 padding: 0;
}

section.hero h1{
 text-shadow: 1px 1px 1px black;
 
 }

.input{
  @apply border w-full p-2 rounded-xl outline-none focus:ring-2 focus:bg-gray-100/20;
}

.input:disabled{
  @apply bg-gray-200 cursor-not-allowed;
}

.btn{
  @apply border border-gray-300 w-auto px-4 py-2 mx-auto rounded-lg font-semibold text-lg;
}

.btn:disabled{
  @apply cursor-not-allowed bg-primaryHover;
}

.tabs a {
  @apply bg-slate-200 px-4 py-2 rounded-full text-secondary font-semibold text-lg hover:bg-secondaryHover hover:text-white;
}

div.tabs > *.active{
  @apply bg-secondary text-white tracking-wide;
}

.table{
  @apply w-full my-3 grid grid-cols-[auto_200px_50px] gap-6 items-center;
}

.extras{
  @apply border-2 w-full p-2 rounded-lg mt-4;
}

.extrasInput{
  @apply flex w-full gap-2 border my-1 p-2 rounded-lg hover:bg-gray-100 cursor-pointer;
}

.menuBtn{
  @apply rounded-full text-white px-5 py-2 flex items-center justify-center;
}

.navMob > :nth-child(-n+4)  {
  @apply border-b hover:bg-gray-100 w-full text-center pt-6;
}

a, Link{
  @apply cursor-pointer;
}